@charset "UTF-8";
/* CSS Document */

.img-capt-caption-wrapper {
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  padding: 2px;
  margin: 0 5px 5px 0;
  position: relative;
}
.img-capt-caption-wrapper > img {
  white-space: pre;
}
.img-capt-caption-wrapper > img:after {
  content: '\A';
}
.img-capt-caption {
  background-color: #ccc;
  padding: 2px;
  margin: 2px 2px 0 2px;
  overflow: hidden;
  text-align: left;
}
