  <h2>This page contains no configuration options - only this help/description text</h2>
  <p>
  If your are the <a href="{base_url}/admin/config/media/img_capt/admin">siteadmin, use this link.</a><br/>
  </p>
  <hr/>
<p>No content is altered, only output of content (node body) is affected.<br />
	This is entirely server based content modification prior rendering, hence no Javascript.</p>
<p>Wraps all images in content with a &lt;DIV&gt; tag, ALT attribute is used to set he caption text. If the ALT attribute is emmpty then the TITLE attribute is used as a copy to ALT attribute and caption. If both attributes are empty use a template string for caption with a sequential numbering.</p>
<table class="img-capt-table">
<tr>
<th>Fixed default configuration</th>
<th>Before "Image Caption & More"</th>
<th>After "Image Caption & More"</th>
</tr>
<tr><td>
<table class="img-capt-table">
<tr><td>Name:</td><td>Default</td></tr>
<tr><td>Style:</td><td>&lt;unset&gt;</td></tr>
<tr><td>Caption tag:</td><td>H6</td></tr>
<tr><td>Caption text, default:</td><td>"Image: "</td></tr>
<tr><td>Caption start number:</td><td>1</td></tr>
<tr><td>Caption attribute:</td><td>ALT</td></tr>
<tr><td>Content type:</td><td>article</td></tr>
<tr><td>Content path:</td><td>&lt;unset&gt;</td></tr>
<tr><td>Populate both ALT and TITLE</td><td>true <em>(not alterable)</em></td></tr>
<tr><td>Set outer wrapper style<br/>max-width to image width</td><td>true <em>(not alterable)</em></td></tr>
</table>
</td><td class="img-capt-img-example-no-caption">
<img src="{base_url}/{path}/images/gears.png" /><br/>&lt;img src="{base_url}/{path}/images/gears.png" /&gt;
</td><td class="img-capt-img-example-caption">
<div class="img-capt-caption-wrapper" style="max-width: 175px;"><img src="{base_url}/{path}/images/gears.png" alt="Image: 1" title="Image: 1"/>
<h6 class="img-capt-caption">Image: 1</h6></div><br/>
&lt;div class="img-capt-caption-wrapper" style="max-width: 175px;"&gt;<br/>&lt;img src="{base_url}/{path}/images/gears.png" style="width: 171px; height: 138px;" alt="Image: 1" title="Image: 1"/&gt;<br/>
&lt;h6 class="img-capt-caption"&gt;Image: 1&lt;/h6&gt;<br/>&lt;/div&gt;
</td></tr>
<tr><td colspan="3" align="right">Image from <a href="http://openclipart.org" target="_blank">openclipart.org</a></td></tr>
</table>
<ul>
	<li>
		Choose content type to operate on, works with Panels / Panels Everywhere.</li>
	<li>
		Choose wrapper tag for caption (DIV, SPAN, H3 - H6)</li>
	<li>
		Choose if ALT or TITLE attribute contains the default caption text</li>
	<li>
		Set default text for auto caption text in absence of content in ALT and TITLE attributes</li>
	<li>
		Set the startnumber for autonumbering of caption images in absence of content in ALT and TITLE attributes</li>
	<li>
		Add fixed path for individual pages. If path is not set as for current page default settings are used. Works with clean URL (see <a href="https://api.drupal.org/api/drupal/includes!bootstrap.inc/function/request_path/7" target="_blank">request_path()</a>, <a href="https://api.drupal.org/api/drupal/includes!path.inc/function/current_path/7" target="_blank">current_path()</a>)</li>
	<li>
		Add wildcard-path (content/* | content/my-* | content/images-of*), only one - the first encountered - wildcard (*) supported. If path is not set as for current page default settings are used. Works with clean URL (see request_path(), current_path())</li>
</ul>